<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    {% if cart_items %}
        <ul>
    {% for item in cart_items %}
        <li>
            {{ item.product.name }} - Quantity: {{ item.quantity }}
            <form hx-post="{% url 'cart:remove_from_cart' %}"
                  hx-target="#cart-items"
                  hx-swap="innerHTML"
                  method="post">
                {% csrf_token %}
                <input type="hidden" name="productId" value="{{ item.product.id }}">
                <button type="submit">Remove</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% if not cart_items %}
    <p>Your cart is empty.</p>
{% endif %}

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}


</body>
</html>